<div class="jumbotron">
    <h1>Tragedy has struck! There's no dogs to be found anywhere near by. We have our top dogs out looking for puppers for your floof to sniff. </h1>
    <img src ="https://media2.giphy.com/media/dolbggPJt06ZO/giphy.gif?cid=ecf05e47mfvubcbn33g3njtjp40t5s91lyoj2m5agw9jv4mu&rid=giphy.gif"/>
</div>