<div class="jumbotron">
    <h1>Welcome to S.N.I.F.F.</h1>
    <h3>Paws fair in love and fur</h3>
    <p>Let your floofs live their best life, choose<br>
    <span class="no">Squirrel</span> to get distracted by a new dog,<br>
    or choose <span class="yes">Sniff</span> to make a new friend.</p>
</div>
<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <input type="button" class="center-block btn btn-primary" value="Sniff some Butts!" onclick="location.href='@Url.Action("Index", "Dogs")'" />
    }
    else
    {
        <p style="text-align: center;">🐾 For complete functionality please sign in or create an account! 🐾</p>
        <input type="button" class="center-block btn btn-primary" value="Login" onclick="location.href='@Url.Action("Login", "Account")'" /><br>
        <input type="button" class="center-block btn btn-primary" value="Register" onclick="location.href='@Url.Action("Register", "Account")'" />
    }
</div>
