<div class="jumbotron">
    <h1>Welcome to Sniff</h1>
    <h3>Paws fair in love and fur</h3>
    <p>Let your floofs live their best life, choose<br>
    <span class="no">Squirrel</span> to get distracted by a new dog,<br>
    or choose <span class="yes">Sniff</span> to make a new friend.</p>
</div>
<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <p class="explore">@Html.ActionLink("Doggos!", "Index", "Dogs")</p>
    }
    else
    {
        <p>For complete functionality please sign in or create an account.</p>
        <p class="newUser">@Html.ActionLink("Login", "Login", "Account")</p>
        <p class="newUser"><span class="register">@Html.ActionLink("Register", "Register", "Account")</span></p>
        <p class="explore">@Html.ActionLink("Doggos!", "Index", "Dogs")</p>
    }
</div>
